/* === FONT FACES === */
@font-face {
  font-family: 'narkiss-assaf-half-mono';
  src: url("fonts/NarkissAsafHalfMono-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'narkiss-assaf-half-mono';
  src: url("fonts/NarkissAsafHalfMono-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'ABC Marfa Semi-Mono';
  src: url("fonts/ABCMarfaSemi-Mono-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ABC Marfa Semi-Mono';
  src: url("fonts/ABCMarfa-Medium.woff2") format("woff2");
  font-weight: bold;
}

@font-face {
  font-family: 'VC_Haim';
  src: url("fonts/VC_Haim-Tzar.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'hadassah-friedlaender';
  src: url("fonts/HadassahFriedlaender-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'hadassah-friedlaender';
  src: url("fonts/HadassahFriedlaender-Bold.woff2") format("woff2");
  font-weight: bold;
}

@font-face {
  font-family: 'hadassah-friedlaender';
  src: url("fonts/HadassahFriedlaender-Light.woff2") format("woff2");
  font-weight: 300;
}

@font-face {
  font-family: 'theBasics';
  src: url("fonts/TheBasics-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'mandatory';
  src: url("fonts/Mandatory-29.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
}

:root {
  --color-brown: #614406;
  --color-background: #ffffff;
  --transition-fast: 0.2s ease;
  --transition-smooth: 0.3s cubic-bezier(0.4, 0, 0.2, 1);


}



/* === RESET & BASICS === */
*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  text-decoration-color: var(--color-brown);
  text-decoration-thickness: 1px;
  text-underline-offset: 5px;
}

body,
html {
  margin: 0;
  padding: 0;
  background: #fff;
  font-family: 'IBM Plex Sans', Arial, sans-serif;
  height: 100%;
  width: 100%;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;

}

/* === ARCHIVE LAYOUT GRID === */
.archive-grid {
  display: grid;
  grid-template-columns: 430px 1fr 430px;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  transition: grid-template-columns 0.5s cubic-bezier(.7, .1, .6, 1);
}

.archive-grid.item-mode {
  grid-template-columns: 160px 1fr 160px;
  transition: grid-template-columns 0.5s cubic-bezier(.7, .1, .6, 1);
}

.diagonal-line {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 5;
  color: var(--color-brown);
}

.diagonal-line svg {
  display: block;
  width: 100%;
  height: 100%;

}

.diagonal-line--desktop {
  display: block;
}

.diagonal-line--mobile {
  display: none;
}

.negative-color {
  --color-brown: #ffffff;
  --color-background: #48350c;
  /* --color-background: #614406; */
}

.negative-color .archive-grid {
  grid-template-columns: 160px 1fr 160px;
  /* or any layout you want */
}


/* Home page: override for 3 columns */
.home-archive-grid {
  /* grid-template-columns: 430px 1fr 430px; */
  grid-template-columns: 28% 44% 28%;
}

/* === SIDE COLUMNS === */
.scroll-column {
  background: var(--color-background);
  height: 100%;
  min-height: 0;
  max-height: 100vh;
  overflow: auto;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  overflow-x: hidden;
}

.left-scroll {
  grid-column: 1;
}

.right-scroll {
  grid-column: 3;
}

/* .scroll-column,
.scroll-column * {
  cursor: url('/img/cursor-03.png') 12 12, auto;
} */

.column-swiper {
  height: 100%;
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding: 0;
  /* margin-top: -15px; */
}

.left-scroll,
.right-scroll,
.center-scroll {
  display: flex;
  flex-direction: column;
  height: 100%;
}


/* === SIDEBAR LINKS === */
.sidebar-list {
  width: 90%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.sidebar-list a {
  text-decoration: none;
  font-size: 17px;
  transition: font-weight var(--transition-fast), letter-spacing var(--transition-fast);
  /* ^^^ this line animates letter-spacing nicely */
}

.sidebar-list a:hover {
  font-weight: bold;
  letter-spacing: 100px;
}


/* === CENTER COLUMN === */
.center-col,
.menu-column {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background: var(--color-background);
  min-height: 100vh;
  position: relative;
  min-width: 0;
}

.center-col {
  border-left: 1px solid var(--color-brown);
  border-right: 1px solid var(--color-brown);
}

.menus-wrapper {
  position: sticky;
  /* top: 85px;   */
  z-index: 99;
  background: var(--color-background);
  transition: transform var(--transition-fast);
  /*, opacity 0.2s */
  will-change: transform;
  /* height: 80px;     */
  display: block;
  opacity: 1;
  pointer-events: auto;
}


/* === SWIPER WRAPPER (MENU FONT STYLE) === */
.swiper-wrapper {
  color: var(--color-brown);
  text-align: right;
  font-family: "narkiss-assaf-half-mono", Arial, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 4px;
}


/* === SWIPER CONTAINERS === */
.menu-swiper,
.submenu-swiper {
  width: 100%;
  height: 40px;
  overflow-x: auto;
  overflow-y: hidden;
  background: transparent;
  min-height: 40px;
  white-space: nowrap;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE/Edge */
  border-bottom: 1px solid var(--color-brown);
}

/* .menu-swiper::-webkit-scrollbar,
.submenu-swiper::-webkit-scrollbar {
  display: none;
} */

.menu-swiper {
  -webkit-overflow-scrolling: touch;
}

.submenu-swiper[style*="display: none"] {
  opacity: 0;
  transition: opacity var(--transition-fast);
  pointer-events: none;
}

.submenu-swiper {
  opacity: 1;
  transition: opacity var(--transition-fast);
}


/* === MENU & SUBMENU SLIDES === */
.main-menu-slide,
.sub-menu-slide {
  background: none !important;
  font-size: 18px;
  /* color: olivedrab; */
  margin-top: 18px;
  line-height: 0px !important;
  font-weight: normal;
  padding: 0;
  color: var(--color-brown);
  user-select: none;
  white-space: nowrap;
  box-shadow: none;
  text-decoration: none;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  padding-right: 8px;

}

/* === SWIPER ROW LAYOUT === */
.menu-swiper .swiper-wrapper,
.submenu-swiper .swiper-wrapper {
  max-width: 100% !important;
  width: max-content !important;
  display: flex !important;
  /* align-items: center; */
}

.menu-swiper .swiper-slide,
.submenu-swiper .swiper-slide {
  margin: 0 !important;
  display: flex;
  position: relative;
}

.swiper-slide {
  height: auto !important;
}

.menus-wrapper.hide-header {
  transform: translateY(-100%);
  opacity: 0;
  pointer-events: none;
}

.slide-inner {
  position: relative;

  /* display: inline-block; */
  /* color:red; */
}

.menu-regular,
.menu-highlight {
  /* pointer-events: none; */
  transition: opacity var(--transition-fast);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.menu-regular {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

/* regular visible by default, highlight hidden */
.menu-regular {
  opacity: 1;
  z-index: 1;
}

.menu-highlight {
  opacity: 0;
  z-index: 2;
  font-weight: bold;
  font-size: 20px;
  color: var(--color-brown);
  /* or a different var if you want highlight color */
}

/* show highlight on selected or hover */
.main-menu-slide.selected-menu .menu-regular,
.main-menu-slide:hover .menu-regular,
.sub-menu-slide.selected-submenu .menu-regular,
.sub-menu-slide:hover .menu-regular {
  opacity: 0;
}

.main-menu-slide.selected-menu .menu-highlight,
.main-menu-slide:hover .menu-highlight,
.sub-menu-slide.selected-submenu .menu-highlight,
.sub-menu-slide:hover .menu-highlight {
  opacity: 1;
  /* color: blue; */
}


.center-content {
  background: var(--color-background);
  flex: 1 1 auto;
  color: var(--color-brown);
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 0;
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow-y: auto;
  margin-top: -80px;

}

.spacer {
  margin-top: 80px;
}

.spacer-in-grid {
  margin-top: 80px;
  grid-column: 1/span 8;
  /* Start at col 2, span to end */
}

.running-text>.spacer {
  grid-column: 2 / -1;
}

.spacer-end {
  margin-top: 30px;
  grid-column: 1/9;
}

.scrolling-content {
  flex: 1 1 auto;
  min-height: 0;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.scrolling-content::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari */
}

.center-content::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari */
}

/* === ARTICLE ITEM CARD === */
.item {
  display: block;
  text-decoration: none;
  color: inherit;
  flex-shrink: 0;
}

.item.dimmed-item {
  opacity: 0.25 !important;
  transition: opacity var(--transition-fast);
  /* filter 0.2s */
}

.item-details {
  display: flex;
  align-items: flex-start;
  /* height: 22px; */
  border-bottom: 1px solid var(--color-brown);
  /* margin-bottom: 8px; */
  padding-right: 10px;
  padding-left: 5px;
  line-height: 16px !important;
}

.item-year {
  color: var(--color-brown);
  font-size: 13px;
  font-weight: 400;
  /* line-height: 15px; */
  letter-spacing: 0.13px;
  /* min-width: 42px; */
  display: inline-block;
  vertical-align: bottom;
  padding-bottom: 2px;
  border-left: 1px solid var(--color-brown);
  margin-left: -1px;
  padding-left: 10px;
}


.item-year-latin {
  font-family: "ABC Marfa Semi-Mono", monospace;
}

.item-collection,
.item-year-hebrew {
  color: var(--color-brown);
  font-family: "narkiss-assaf-half-mono", monospace;
  font-size: 16px;
  font-weight: 400;
  /* line-height: 19px; */
  letter-spacing: normal;

  padding-bottom: 3px;
}

.item-collection {
  border-right: 1px solid var(--color-brown);
  padding-left: 10px;
  padding-right: 10px;
  /* line-height: 16px; */
}

.item-title {
  color: var(--color-brown);
  text-align: right;
  font-family: "VC_Haim", sans-serif;
  font-size: 39px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: -0.8px;
  word-break: break-word;
  padding-right: 10px;
  padding-left: 80px;
  padding-bottom: 100px;
  padding-top: 8px;
  /* transition: letter-spacing 0.1s cubic-bezier(.4,0,.2,1); */

  /* transition: letter-spacing 0.05s cubic-bezier(.4,0,.2,1); */
}

.item:hover .item-title {
  letter-spacing: 0.8px;
  cursor: pointer;
  /* padding-left: 15px; */
  width: 110%;
}

body.home-page .item-title {
  font-size: 58px;
  line-height: 42px;
  padding-left: 75px;
  padding-bottom: 120px;
}

body.home-page .item-collection,
body.home-page .item-year-hebrew {
  font-size: 18px;
  line-height: 20px;
  padding-bottom: 6px;
  padding-left: 10px;
}


.archive-grid.item-mode .item-title {
  padding-left: 15px;
}

body.english-page .item {
  direction: ltr;
  text-align: left;
}

body.english-page .item-title {
  direction: ltr;
  text-align: left;
  padding-left: 10px;
  padding-right: 80px;
  font-family: 'mandatory', sans-serif;
  padding-top: 12px;
  line-height: 30px;
  letter-spacing: normal;
  font-size: 32px;
}

body.english-page .item-collection {
  border-left: 1px solid var(--color-brown);
  border-right: none;
  /* padding-right:10px; */
}

body.english-page .item-year {
  border-left: none;
  /* border-right: 1px solid var(--color-brown); */
  padding-left: 6px;
  padding-right: 10px;
}

body.english-page .archive-grid.item-mode .item-title {
  padding-right: 15px;
  padding-left: 10px;
}

.title-collapsed {
  display: none;
}

.title-expanded {
  display: flex;
}

/* === ARCHIVE HEADER === */
.archive-title-bar {
  position: sticky;
  top: 0;
  z-index: 100;
  background: var(--color-background);
  /* border-bottom: 3px solid var(--color-brown); */
  border-bottom: 1px solid var(--color-brown);
  height: 44px;
  min-height: 44px;
  /* height: 64px; */
  direction: rtl;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
  gap: 10px;
  flex-direction: row;
  justify-content: space-between;
}

.title-group {
  display: flex;
  align-items: center;
  gap: 6px;
  flex-shrink: 1;
}


.hanokh-levin {
  color: var(--color-brown);
  font-family: "VC_Haim", sans-serif;
  font-size: 39px;
  font-style: normal;
  font-weight: 500;
  line-height: 3px;
  letter-spacing: -0.5px;
  text-align: right;
  margin-bottom: -2px;
  cursor: pointer;
  /* margin-right: 400px; */
}

.error-title {
  font-family: "theBasics", sans-serif;
  font-size: 28px;
  color: var(--color-brown);
  padding-bottom: 1px;
  padding-left: 6px;
  padding-right: 12px;
}

.archive-title {
  color: var(--color-brown);
  font-family: "narkiss-assaf-half-mono", serif;
  font-size: 22px;
  font-weight: bold;
  font-style: normal;
  /* font-weight: 400; */

  /* line-height: 3px; */
  letter-spacing: 3px;
  text-align: right;
  padding-bottom: 4px;
  text-decoration: none;
}

/* ========== Search Container (holds icon and box) ========== */
.search-container {
  display: flex;
  align-items: center;
  position: relative;
  border-right: 1px solid var(--color-brown);
  width: 40px;
  transition: width var(--transition-fast);
}

/* ========== Search Icon (always visible) ========== */
.search-icon {
  width: 40px;
  height: 100%;
  cursor: pointer;
  user-select: none;
  flex-shrink: 0;
  padding-right: 10px;

}

/* ========== Search Wrapper (input + X) ========== */
.search-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  height: 40px;
  width: 0;
  opacity: 0;
  overflow: hidden;
  transition: width var(--transition-fast), var(--transition-fast);
  margin-left: -1px;
}

.search-container.active {
  width: 300px;
  opacity: 1;
}

/* Active state: open box */
.search-container.active .search-wrapper {
  width: 300px;
  opacity: 1;
}

/* ========== Input Field ========== */
.search-box {
  width: 100%;
  height: 100%;
  /* border-right: 1 solid var(--color-brown); */
  border: 1px solid var(--color-background);

  font-family: "narkiss-assaf-half-mono", serif;
  line-height: 20px;
  font-size: 20px;
  padding: 0 30px 0 10px;
  /* space for the X on the right */
  box-sizing: border-box;
  background: var(--color-background);
  color: var(--color-brown);
  pointer-events: none;
  /* disabled by default */
}

/* Enable pointer events when active */
.search-container.active .search-box {
  pointer-events: auto;
}

/* ========== Close (X) Button ========== */
.search-close {
  position: absolute;
  right: 6px;
  /* place inside the input, on the right */
  top: 50%;
  transform: translateY(-50%);
  font-size: 26px;
  color: var(--color-brown);
  cursor: pointer;
  user-select: none;
  display: none;
  padding-top: 3px;
}

.search-box::placeholder {
  color: var(--color-brown);
  opacity: 1;
  font-family: "narkiss-assaf-half-mono", serif;
  font-size: 20px;
}


/* Show X only when active */
.search-container.active .search-close {
  display: block;
}


.running-text-layout {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  height: 100%;
  flex: 1 1 auto;
  min-height: 0;
  overflow-y: auto;
}

.toc-block {
  margin-top: 80px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */

  color: var(--color-brown);
  border-left: 1px solid var(--color-brown);
  flex: 1 1 auto;
  min-height: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.running-text-table-content {
  width: 140px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  color: var(--color-brown);
  border-left: 1px solid var(--color-brown);
  flex: 1 1 auto;
  min-height: 0;
  overflow-y: auto;
  padding-left: 10px;
}

.running-text-table-content.toc-floating,
.toc-block.toc-floating {
  margin-top: 0;
  z-index: 101;
  /* must be higher than .menus-wrapper's z-index */
  position: relative;
}

.running-text-table-content::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari */
}

.toc-item {
  cursor: pointer;
  /* margin-bottom: 12px; */
  padding: 4px 10px;
  line-height: 18px;
  opacity: 0.25;
  font-family: "VC_Haim", sans-serif;
  font-size: 24px;
  padding-left: 10px;
}

.toc-item.highlight {
  opacity: 1;
  /* transition: opacity 0.2s, filter 0.2s; */
}

.running-text-table-content,
.toc-item {
  pointer-events: auto !important;
}

.running-text {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 15px 0;
  margin: 0 auto;
  width: 100%;
  align-items: start;
  flex: 1 1 auto;
  min-height: 0;
  overflow-y: auto;
}

.running-book,
.running-text {
  padding-bottom: 50px;
}

.running-text>:first-child,
.running-book>:first-child {
  padding-top: 150px;
}



.running-text::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari */
}

.title-running-text {
  font-size: 130px;
  color: var(--color-brown);
  text-align: center;
  font-family: 'hadassah-friedlaender', sans-serif;

  /* font-weight: bold; */

  line-height: normal;
  /* padding-right: 10px; */
  line-height: 110px;
  margin-bottom: 40px;
  grid-column: 1 / 9;
  padding-top: 40px;
  padding-bottom: 80px;
  padding-left: 35px;
  padding-right: 35px;
}

.running-text-small-title {
  color: var(--color-brown);
  text-align: right;
  font-family: VC_Haim, sans-serif;
  font-size: 24px;
  font-style: normal;

  line-height: normal;
  grid-column: 2 / span 9;
  padding-right: 0px !important;
  padding-top: 130px;
}

.running-text-small-title-first {
  padding-top: 0px;
  margin-top: -5px;
}




.running-text-notes {
  color: var(--color-brown);
  text-align: right;
  font-family: "narkiss-assaf-half-mono", serif;
  font-size: 18px;
  font-style: normal;
  font-weight: bold;
  line-height: 24px;
  grid-column: 6 / span 3;
  /* start at col 8, span 4 columns */
  /* margin-bottom: 10px; */
  margin-left: 35px;
}


.running-text-talk {
  display: contents;
  /* Let children participate in parent grid */
}

/* Speaker – stick to col 2, align right, top of the line */
.talker {
  grid-column: 1;
  text-align: right;
  font-family: VC_Haim;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 6px;
  align-self: start;
  line-height: 24px;
  text-align: right;
  align-self: baseline;
  /* margin-right: 25px; */

}

.talker,
.running-text-small-title,
.running-text-small-title-first,
.running-text-small-title-line {
  padding-right: 35px;
  grid-column: 1;
}

.talker {
  padding-right: 30px;
}

body.padding-talker .talker {
  padding-right: 50px;
}

.running-text-small-title-line {
  color: var(--color-brown);
  grid-column: 1 / span 9;
  border-bottom: 1px solid var(--color-brown);
  /* padding-right: 10px; */
  /* margin-bottom:-22px; */
  padding-bottom: 1px;
  margin-right: 35px;
}

/* What is said – starts at col 4, spans 8, top align too */
.what-said {
  grid-column: 3 / span 5;
  color: var(--color-brown);
  text-align: right;
  font-family: "hadassah-friedlaender", monospace;
  font-weight: 300;
  font-size: 23px;
  line-height: 32px;
  align-self: start;
  align-self: baseline;
  letter-spacing: 0.4px;
}

/* body.english-page .running-text-talk {
  direction: ltr;
  display: contents;
}

body.english-page .talker {
  grid-column: 1;
  text-align: left;
  font-family: "mandatory", sans-serif;
}

body.english-page .what-said {
  text-align: left;
  grid-column: 2 / span 5;

} */

.running-text-horizontal-block .talker {
  padding-right: 0px;
  margin-right: -5px;
}

.basic-running-text {
  grid-column: 2 / 8;
  color: var(--color-brown);
  text-align: right;
  font-family: "hadassah-friedlaender", serif;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0.4px;
}

.basic-running-text,
.what-said {
  letter-spacing: 0.4px !important;
}

.bold-text {
  font-weight: bold !important;
  /* font-size: 26px;
  line-height: 40px; */
  font-family: "hadassah-friedlaender", serif;
}

.first-bold-text {
  padding-bottom: 20px;
}

.highlight-running-text {
  font-family: "narkiss-assaf-half-mono", monospace;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 35px;
  color: var(--color-brown);
  background: none;
}

.image-running-text {
  width: 100%;
  /* max-width: 500px; */
  /* display: block;
  margin: 20px 0; */
  grid-column: 2 / 8;
  justify-self: center;
}

.item-info-grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  width: 100%;
  background: #fff;
  /* position: relative; */
}

.info-couple {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

/* Make the row cells align as a table row */
/* .info-label-row {
  display: contents;
  cursor: pointer;
  user-select: none;
  position: sticky;
  bottom: 0;
  z-index: 2;
  background: #fff;
} */

/* Header cells */
.info-label {
  color: var(--color-brown);
  text-align: right;
  font-size: 24px;
  font-family: VC_Haim, sans-serif;
  border-bottom: 1px solid var(--color-brown);
  border-top: 1px solid var(--color-brown);
  padding: 8px;
  padding-right: 10px;
  background: var(--color-background);
  height: 36px;
  cursor: pointer;
  position: relative;
}

.item-image-wrapper {
  width: 100%;
  overflow: hidden;
}

.item-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}



.collapse-toggle {
  position: absolute;
  left: 10px;
  top: 18px;
  transform: translateY(-50%);
  font-size: 28px;
  font-family: inherit;
  color: var(--color-brown);
  cursor: pointer;
  user-select: none;
  z-index: 2;
  transition: transform var(--transition-fast) var(--transition-smooth);
}

.grid-toggle {
  z-index: 9999;
}

.item-info-grid.collapsed .collapse-toggle {
  transform: translateY(-50%) rotate(180deg);
}

.info-value {
  color: var(--color-brown);
  text-align: right;
  font-size: 18px;
  font-family: "Narkiss Asaf Half Mono", monospace;
  font-weight: 400;
  padding: 8px;
  padding-right: 10px;
  padding-bottom: 20px;
  background: var(--color-background);
  line-height: 22px;
}

.item-info-grid.collapsed .info-value-row {
  max-height: 0;
  opacity: 0;
  pointer-events: none;
  padding: 0;
  cursor: pointer;
}

.item-info-grid.collapsed .info-value {
  max-height: 0;
  opacity: 0;
  pointer-events: none;
  padding: 0;
}

.item-info-grid .info-value {
  transition: max-height var(--transition-fast), opacity var(--transition-fast);
}


.carusel-images {
  grid-column: 1/9;
  width: 100%;
  height: 400px;
  background: transparent;
  overflow-x: auto;
  overflow-y: hidden;
  /* border-bottom: 1px solid var(--color-brown); */
  white-space: nowrap;
  scrollbar-width: none;
  -ms-overflow-style: none;
  margin-top: -5px;
  padding-bottom: 30px;

}

.carusel-images::-webkit-scrollbar {
  display: none;
}

.carusel-wrapper {
  display: flex;
  align-items: center;
  height: 100%;
}

.carusel-img {
  height: 100%;
  width: auto;
  object-fit: contain;
  flex-shrink: 0;
}

.carusel-img:first-child {
  margin-left: 0;
}

.fixed-img-desktop {
  position: absolute;
  left: 0;
  top: 0px;
  width: 349px;
  /* or whatever size you want */
  height: 360px;
  /* Set height explicitly */
  display: flex;
  align-items: flex-start;
  justify-content: center;
  z-index: 1;
}

.book-cover-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 1px solid var(--color-brown);
}

/*book styles */
.running-book {
  display: flex;
  flex-direction: column;
  /* <-- THIS stacks items vertically */
  gap: 0;
  /* optional, vertical gap between lines */
  width: 100%;
  flex: 1 1 auto;
  /* this makes it grow to fill space */
  min-height: 0;
  /* allow shrinking */
  overflow-y: auto;
  overflow-x: hidden;
  /* margin-left: 349px; */
}

.running-book::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari */
}

.table-of-contents {
  font-family: "VC_Haim", sans-serif;
  font-size: 24px;
  font-weight: 400;
  padding-right: 10px;
  margin-bottom: 5px;
  padding-top: -15px;
  display: block;
  position: relative;
}

.table-book-page {
  padding-bottom: 3px;
}

.text-margin-up {
  padding-top: 15px;
}

.line-top {
  border-top: 1px solid var(--color-brown, #6b4c16);
}

.line-bottom:first-child {
  border-top: 1px solid var(--color-brown, #6b4c16);
}


.content-book {
  direction: rtl;
  font-family: "narkiss-assaf-half-mono", Arial, sans-serif;
  font-size: 18px;
  color: solid var(--color-brown, #6b4c16);
  /* line-height: 22px; */
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 1px;
  padding-right: 10px;
  display: flex;
  align-items: flex-end;
  /* Keeps border visually lined up for multiline */
  border-bottom: 1px solid var(--color-brown, #6b4c16);
  /* Remove fixed height/line-height! */
  margin-bottom: 0px;
  /* padding-left: 10px; */
  text-decoration: none;

}

.content-book:hover {
  letter-spacing: 4px;
  width: 110%;
}

.content-book:first-of-type {
  border-top: 1px solid var(--color-brown, #6b4c16);
}

.links-group {
  grid-column: 1 / 9;
  /* display:inline-flex; */
  align-items: center;
  gap: 4px;
  /* space around the bar             */
  text-align: center;
  font-size: 18px;
  font-family: "narkiss-assaf-half-mono", Arial, sans-serif;
  color: var(--color-brown);
  /* margin-bottom: -50px; */
}

.link-title {
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  border: none;
  font-family: "narkiss-assaf-half-mono", Arial, sans-serif;
  /* text-align: center; */
  /* grid-column: 1/9; */
  /* display: inline-block; */
  direction: rtl;
  transition: letter-spacing var(--transition-fast);
  cursor: pointer;
  color: var(--color-brown);
}

.link-title:hover {
  letter-spacing: 1.2px;
  /* transform: scaleX(1.03); */
  /* shift it slightly to compensate for the spread */
}

.links-group+.title-running-text {
  margin-top: -25px;
}

.indent-book {
  padding-right: 60px;
  padding-left: 80px;
}

.book-text-wrapper {
  padding-top: 15px !important;
  padding: 0 10vw;
}

.book-layout {
  display: flex;
  flex-direction: row-reverse;

  padding: 0;
  box-sizing: border-box;
  gap: 0;
  flex: 1 1 auto;
  min-height: 0;
  height: 0;
  width: 100%;
}

.book-image-col {
  /* flex: 0 0 44%;  */
  max-width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  position: sticky;
  top: 0;
}

.book-cover-img {
  width: 100%;
  /* or max-width: 400px; */
  max-width: 100%;
  height: auto;
  display: block;
  object-fit: contain;
  border: 1px solid var(--color-brown);
}

/* === MOBILE/SCROLL ROW (for mobile view) === */
.mobile-scroll-row {
  display: none;
  /* Hide by default */
}

.calendar-table {
  grid-column: 1/9;
  /* margin-left: 2px; */
  margin-right: -2px;
  width: 101%;
  border-collapse: collapse;
  table-layout: fixed;
  text-align: center;
  font-size: 24px;
  color: var(--color-brown);
  font-family: 'hadassah-friedlaender', sans-serif;
  letter-spacing: 0.7px;
  /* table-layout: fixed !important; */
  /* margin-top: -50px; */
}

.calendar-table th,
.calendar-table td {
  border: 1px solid var(--color-brown);
  vertical-align: top;
  padding-top: 7px;
}

.calendar-table th {
  font-family: "hadassah-friedlaender", monospace;
  font-size: 24px;
  font-weight: bold;
}

.calendar-table td,
.calendar-table a {
  font-family: "ABC Marfa Semi-Mono", monospace;
  font-size: 24px;
  font-weight: 400;
  vertical-align: top;
}

.calendar-table a {
  text-decoration: none;
  color: inherit;
}

.calendar-table td {
  min-height: 90px;
  height: 108px;
  max-height: 108px;
}

.calendar-highlight {
  color: var(--color-background) !important;
  background-color: var(--color-brown);
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  border: 0.7px solid var(--color-background) !important;

}

.calendar-highlight .calendar-play-title {
  display: block;
  font-size: 18px;
  text-align: center;
  line-height: 20px;
  color: var(--color-background);
  text-decoration: none;
  font-family: "narkiss-assaf-half-mono", monospace;
  /* padding-top: 40px; */

  padding-left: 2px;
  padding-right: 2px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* stack from bottom */
  height: 100%;
  padding: 5px 4px;
  /* optional */
  box-sizing: border-box;
  padding-bottom: 40px;
}


.calendar-highlight .calendar-play-title+.calendar-play-title {
  padding-top: 5px;
}

.title-calendar {
  font-size: 110px;
  padding-bottom: 0px;
  /* margin-bottom: 0px;
  padding-top: 80px;
  margin-top: 20px */
  align-self: baseline;
  padding-top: 100px;
  margin-bottom: 20px;
}

.calendar-highlight-another-month {
  opacity: 0.4;
}

.hadassah-numbers {
  font-family: "ABC Marfa Semi-Mono";
  font-weight: bold;
  font-size: 89px;
  align-self: baseline;
  /* margin-bottom: -30px !important; */
  letter-spacing: 0ch;
}

.line-top-calendar {
  display: none;
}


.quote-img {
  max-width: 100%;
  height: auto;
  /* border: 1px solid var(--color-brown); */
  transition: max-height 0.4s ease;
}

.image-toggle-label {
  font-size: 24px;
  cursor: pointer;
  color: var(--color-brown);
  /* margin-bottom: 10px; */
  display: inline-block;
}



.running-text-image-wrapper {
  grid-column: 2 / 8;
  display: flex;
  width: 100%;
}

.running-text-image-wrapper img {
  width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
}

.collapse-toggle-table-content {
  display: none;
}

.hidden {
  display: none !important;
}

.spacer-title-bar {
  flex: 1;
}


.running-text-horizontal-block {
  grid-column: 2 / 8;
  display: flex;
  flex-direction: row;
  gap: 35px;
  /* margin: 40px 0; */
}

.running-text-horizontal-block .image-side {
  flex: 0 0 40%;
  max-width: 40%;
}

.running-text-horizontal-block .image-side img {
  width: 100%;
  height: auto;
  display: block;

}

.negative-color .running-text-horizontal-block{
  gap: 50px;
}

/* === CONTACT FORM === */
.contant-form-wrapper{
  grid-column: 1 / 9;
}
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 28px;                 /* space between rows */
  margin-top: 40px;
  width: 100%;
  
}

.contact-label {
  display: block;
  margin-bottom: 6px;
  font-family: "VC_Haim", sans-serif;
  font-size: 24px;
  color: var(--color-brown);
  padding-right: 10px;
}

.contact-input,
.contact-textarea {
  width: 100%;
  height: 32px;
  padding: 10px 16px;
  padding-right: 10px;
  font-family: "narkiss-assaf-half-mono", Arial, sans-serif;
  font-size: 18px;
  color: var(--color-brown);
  background: var(--color-background);
  border-top: 1px solid var(--color-brown);
  border-bottom: 1px solid var(--color-brown);
}

.contact-textarea {
  resize: vertical;          /* let user stretch if needed */
  height: 140px;             /* start taller than inputs */
}

.contact-submit {
  align-self: center;    /* keep button at RTL start (right edge) */
  padding: 12px 32px;
  font-family: "narkiss-assaf-half-mono", sans-serif;
  font-size: 24px;
  background: var(--color-background);
  color: var(--color-brown);
  border: var(--color-brown);
  cursor: pointer;
  transition: letter-spacing var(--transition-fast);
  align-items: center;
}

.contact-submit:hover {
  letter-spacing: 4px;
}

.contact-input:focus,
.contact-textarea:focus {
  outline: none;    
}

/* === RESPONSIVE: TABLET AND MOBILE === */
@media (max-width: 1200px) {
  .archive-grid {
    grid-template-columns: 430px 1fr;
    height: 100vh;
    min-height: 100vh;
  }

  .archive-grid.item-mode {
    grid-template-columns: 160px 1fr;
  }

  .right-scroll {
    display: none !important;
  }

  .left-scroll {
    grid-column: 1;
    display: flex;
    flex-direction: column;
    /* border-radius: 10px; */
  }

  .center-col {
    grid-column: 2;
    min-height: 0;
    height: 100vh;
  }

  .table-of-contents,
  .running-text-table-content {
    display: flex;
  }

  .table-of-contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--color-background);
    height: 36px;
    margin-bottom: 0px;
    padding-left: 10px;
  }

  .collapse-toggle-table-content {
    cursor: pointer;
    font-size: 28px;
    /* padding-left: 10px; */
    transform: rotate(0deg);
    transition: transform var(--transition-fast) var(--transition-smooth);
    user-select: none;
    display: inline-block;
  }


  .toc-block {
    margin-top: 0;
    width: 100%;
    flex-shrink: 0;
    flex: none;
    border-left: none;
    border-top: 1px solid var(--color-brown);
    overflow: visible;
    min-height: unset;
    justify-content: space-between;
  }

  .toc-block.collapsed .running-text-table-content {
    display: none;
  }

  .toc-block.collapsed .collapse-toggle-table-content {
    transform: rotate(180deg);
  }

  .item {
    width: 100%;
    box-sizing: border-box;
  }

  .center-content {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    height: 100%;
    min-height: 0;
    overflow-y: auto;
  }

  .title-running-text {
    font-size: 110px;
    padding-right: 20px;
    padding-left: 20px;
    line-height: 105px;
  }

  .running-text-layout {
    display: flex;
    flex-direction: column;
    /* stack vertically */
    flex: 1 1 auto;
    width: 100%;
    height: auto;
    min-height: 0;
    overflow: visible;
    /* not hidden */

  }

  .running-text {
    /* order: 1; */
    flex: 1 1 auto;
    overflow-y: auto;
  }

  .running-text-table-content {
    /* order: 2; */
    width: 100%;
    flex: 0 0 36px;
    height: 36px !important;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
    border-left: none;
    border-top: 1px solid var(--color-brown);
    background: var(--color-background);
    gap: 16px;
    /* padding: 10px 0; */
    /* scroll-snap-type: x mandatory; */
    margin-top: 0;
    white-space: nowrap;
    flex-wrap: nowrap;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE */
  }

  .running-text-table-content::-webkit-scrollbar {
    display: none;
    /* Chrome/Safari */
  }


  .toc-item {
    flex: 0 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    line-height: 40px;
    padding: 5px 10px;

  }

  .text-margin-up {
    padding-top: 0px;
  }

  /* .talker,
  .running-text-small-title,
  .running-text-small-title-first,
  .running-text-small-title-line {
    padding-right: 20px;
    /* grid-column: 1; }*/


  /* .running-text-small-title-line {
    margin-right: 25px;
  } */

  .what-said {
    grid-column: 3/ span 5;
    margin-right: -10px;
  }

  .running-text-notes {
    margin-left: 30px;
    grid-column: 5 / span 4;
  }

  .basic-running-text {
    margin-right: -10px;
    margin-left: -10px;
  }

  .running-text-horizontal-block {
    grid-column: 2 / 8;
    display: flex;
    flex-direction: column;
    gap: 35px;
    /* margin: 40px 0; */
  }

  .negative-color .running-text-horizontal-block{
    flex-direction: column-reverse;
  }

  .running-text-horizontal-block .image-side {
    flex: 0 0 60%;
    max-width: 60%;
    align-self: center;
  }

  body.home-page .home-archive-grid {
    grid-template-columns: 1fr 1fr;
  }

  body.home-page .right-col {
    display: none !important;
  }

  body.home-page .left-scroll {
    grid-column: 1;
    display: block !important;
  }

  body.home-page .center-scroll {
    grid-column: 2;
    display: block !important;
  }

  .search-container.active {
    flex-grow: 1;
  }

  .search-container.active .search-wrapper {
    width: 100%;
    opacity: 1;
  }

  .running-text-horizontal-block .talker {
    padding-right: 0px;
    margin-right: -15px;
  }
}

@media (max-width: 750px) {
  .archive-grid {
    display: flex !important;
    flex-direction: column;
    width: 100vw;
    height: auto;
    gap: 0;
    padding: 0;
    overflow: hidden;
  }

  .menus-wrapper {
    z-index: 100;
  }

  .left-scroll,
  .right-scroll {
    display: none !important;
  }

  .mobile-scroll-wrapper {
    transition: transform var(--transition-fast);
    /* border-bottom: 1px solid var(--color-brown); */
    z-index: 99;
    background: var(--color-background);
  }

  .mobile-scroll-wrapper.hide-header {
    transform: translateY(-100%);
    opacity: 0;
    pointer-events: none;
    height: 80px;
  }

  .mobile-scroll-row {
    display: flex;
    flex-direction: row;
    width: 100vw;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    -ms-overflow-style: none;
    gap: 0;
    /* height: 200px !important; */
    align-items: flex-start;
    /* order: 3; */
    z-index: 100;
    border-bottom: 1px solid var(--color-brown);
  }

  .item {
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
    gap: 30px;
    /*space between item title to details */
    min-width: 220px;
    max-width: 250px;
    /* height: 240px !important; */
    box-sizing: border-box;
    flex-shrink: 0;
    position: relative;
    white-space: normal;
  }

  .mobile-scroll-row .item {
    min-width: 220px;
    max-width: 280px;
    height: 100%;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  body.quoting-page .mobile-scroll-row .item {
    max-width: 170px;
    min-width: 170px;
    gap: 0px;
  }

  body.quoting-page .item-title {
    padding-left: 45px;
  }

  .swiper-slide {
    display: block;
    /* margin-bottom: 20px; */
    /* height: 100px !important; */
  }

  .swiper-wrapper {
    display: flex;
  }

  .mobile-scroll-row::-webkit-scrollbar {
    display: none;
  }

  .center-content {
    width: 100vw;
    margin-top: -210px;
  }

  .title-running-text {
    margin-top: 100px;
  }

  .talker,
  .what-said {
    /* grid-column: 1 / span 9; */
    /* Both start at col 2, span most of the width */
    text-align: right;
    /* width: 100%; */
    margin-right: 30px;
    margin-left: 30px;
  }

  .talker {
    justify-self: start;
    /* margin-bottom: -12px; */
    padding-right: 0px;
    text-align: start;
    align-self: flex-start;
    margin-right: 25px;
  }

  .running-text {
    gap: 30px 0px;
  }


  .running-text-talk {
    grid-column: 1/ span 9;
    display: flex;
    flex-direction: column;
    /* gap: 50px; */
    /* padding-bottom: 20px; */
  }

  .item-info-grid {
    grid-template-columns: repeat(3, 1fr);
    row-gap: -1px;
    /* optional, adjust as needed */
  }

  .item-title {
    padding-bottom: 10px;
  }

  .item-details {
    margin-top: auto;
    border-bottom: none;
  }

  .diagonal-line--desktop {
    display: none;
  }

  .diagonal-line--mobile {
    display: block;
  }

  .running-text.toc-floating {
    margin-top: 0 !important;
  }

  .running-text.toc-floating.without-mobile-scroll {
    margin-top: -60px;
    /* or adjust this based on .mobile-scroll-row height */
  }

  .calendar-table thead {
    display: none;
  }

  /* put all cells in a 3-column grid */
  .calendar-table tbody {
    /* keeps semantic <table> for a11y */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    border-top: 1px solid var(--color-brown);
  }

  .calendar-table {
    border-collapse: collapse;
  }
  .calendar-table th, .calendar-table td {
    border:none;
  }
  /* rows become invisible containers so the cells can flow freely */
  .calendar-table tr {
    display: contents;
  }

  /* every <td> becomes a mini-card */
  .calendar-table td {
    /* display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:flex-start; */
    box-sizing: border-box;
    min-height: 120px;
    /* match your previous mobile size */
    /* border-top:1px solid var(--color-brown); */
    position: relative;
    border-bottom: 1px solid var(--color-brown);
    border-left: 1px solid var(--color-brown)
  }

  /* weekday label in the upper-right corner */
  .calendar-table td::before {
    content: attr(data-day);
    position: absolute;
    top: 13px;
    right: 8px;
    font-size: 30px;
    font-family: 'hadassah-friedlaender', sans-serif;
    line-height: 18px;
    white-space: nowrap;
  }
  .calendar-highlight{
    border:none !important;
    /* border-top: 1px solid var(--color-background) !important; */
    border-left: 0.8px solid var(--color-background) !important;
  }

  /* keep your existing highlight colours */
  .calendar-highlight-another-month {
    display: none !important;
  }

  .calendar-highlight-another-month.show-mobile {
    display: table-cell !important;
    /* or inline-block for div-based grids */
  }


  .line-top-calendar {
    border-top: 1px solid var(--color-brown) !important;
  }

  .border-white {
    border-bottom: 0.8px solid var(--color-background) !important;
  }


  .running-text-horizontal-block .image-side {
    flex: 0 0 75%;
    max-width: 75%;
    align-self: center;
  }

  .item-info-grid.collapsed .info-label {
    border-bottom: none;
  }

  .hide-mobile {
    display: none;
  }

  /* body.home-page .home-archive-grid {
    display: flex !important;
    flex-direction: column;
  } */

  body.home-page .left-scroll {
    display: block;
  }

  body.home-page .right-scroll,
  body.home-page .center-col {
    display: none !important;
  }

  body.home-page .item {
    width: 100%;
    height: 100% !important;
    max-width: 100%;
  }

  .links-group {
    margin-top: 90px;
  }

  body.quoting-page .title-running-text {
    margin-top: 0px;
  }

  body.quoting-page .link-title {
    padding-top: 230px;
  }

  .search-container.active {
    flex-grow: 1;
  }

  .search-container.active .search-wrapper {
    width: 100%;
  }

  body.padding-talker .talker {
    padding-right: 0px;
  }

  .running-text-horizontal-block .what-said {
    padding-right: 0px;
    margin-right: -10px;
  }

  .title-running-text{
    font-size: 90px;
    line-height: 95px;
  }

  .running-text-small-title-line {
    margin-right: 30px;
  }

}